<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>/WEB-INF/SignIn.jsp</welcome-file>
    </welcome-file-list>

    <!-- SERVLETS-->

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>controller.authentication.servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controller.authentication.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarList</servlet-name>
        <servlet-class>controller.entitylists.CarListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarList</servlet-name>
        <url-pattern>/carList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.authentication.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditCarServlet</servlet-name>
        <servlet-class>controller.adminactivities.car.EditCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCarServlet</servlet-name>
        <url-pattern>/editCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCar</servlet-name>
        <servlet-class>controller.adminactivities.car.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCar</servlet-name>
        <url-pattern>/deleteCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>controller.adminactivities.car.AddCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/addCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>controller.entitylists.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetBlocked</servlet-name>
        <servlet-class>controller.adminactivities.user.SetBlockedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetBlocked</servlet-name>
        <url-pattern>/setBlocked</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterManagerServlet</servlet-name>
        <servlet-class>controller.adminactivities.manager.ManagerUtilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterManagerServlet</servlet-name>
        <url-pattern>/utilManager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSort</servlet-name>
        <servlet-class>controller.useractivities.UserSortServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSort</servlet-name>
        <url-pattern>/filterUtils</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RentCar</servlet-name>
        <servlet-class>controller.useractivities.RentCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RentCar</servlet-name>
        <url-pattern>/rentCar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserOrders</servlet-name>
        <servlet-class>controller.useractivities.UserOrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserOrders</servlet-name>
        <url-pattern>/userOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>controller.entitylists.OrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/orderList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.manageractivities.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmOrder</servlet-name>
        <servlet-class>controller.manageractivities.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrder</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PayForCar</servlet-name>
        <servlet-class>controller.useractivities.PayForCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayForCar</servlet-name>
        <url-pattern>/payForCar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReturnCar</servlet-name>
        <servlet-class>controller.useractivities.ReturnCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnCar</servlet-name>
        <url-pattern>/returnCar</url-pattern>
    </servlet-mapping>

    <!-- FILTERS-->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>controller.authentication.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>SignIn</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>Authorization</filter-name>
        <filter-class>controller.authorization.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authorization</filter-name>
        <url-pattern>/view/*</url-pattern>
    </filter-mapping>

</web-app>